.task_card {
    width: 100%;
    min-height: 100px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background: #e1deeb;
    transition: all .3s;
    box-shadow: 1px 1px 5px  black;
}
.task_card:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);

}
/* .task_card:active{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
    scale: 0.9;
} */

.task_text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    /* background: none; */
}
.task_des{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    /* background: none; */

}

.task_card_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.task_edit,
.task_save {
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  margin-right: 0.5rem;
}

.task_edit {
  background-color: #b756f0;
  color: rgb(15, 15, 15);
  transition: background-color 0.3s;
}

.task_edit:hover {
  background-color: #0056b3;
}

.task_save {
  background-color: #28a745;
  color: white;
  transition: background-color 0.3s;
}

.task_save:hover {
  background-color: #218838;
}
.task_delete {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover {
    background-color: #ebebeb;
 
}

.delete_icon {
    width: 20px;
    opacity: 50%;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover .delete_icon {
    opacity: 80%;
    /* box-shadow: 0px 15px 25px -5px rgba(darken(rgb(1, 12, 24), 40%));
    transform: scale(1.03); */
}
.delete_icon:active{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
    scale: 0.9;

}
